.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

bin/
obj/
[Bb]uild/
[Bb]uild[Ll]og.*

*.nupkg
packages/
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

.DS_Store
Thumbs.db

*.log

*.vsp
*.vspx
*.vsix
*.pidb

.idea/
*.sln.iml

*.db
*.sqlite
*.bak

*.swp
*.tmp

TestResults/
*.coverage
*.coveragexml
